<!DOCTYPE html>
<html>
<head>
    <title>Character Sheets</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css"/>
    <!--<link rel="stylesheet" href="../static/bootstrap-flat.min.css" type="text/css"/>
    <link rel="stylesheet" href="../static/bootstrap-flat-extras.min.css" type="text/css"/>-->

    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/app.js"></script>
    
    <style>
      div.container{
      padding-top: 15px;
      }
    </style>
 
</head>
<body>
    <div class="container">
      <div class="row">
      <div class="col-md-12">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="panel panel-info">
          <div class="panel-heading"></div>
          <div class="panel-body">
            {% for message in messages %}
            {{ message }}
              {% endfor %}
          </div>
        </div>
          {% endif %}
	{% endwith %}
      </div>
      </div>
    </div>
    {% block body %}
    <p>this is a test</p>
    {% endblock body %} 
</body>
</html>
