<!DOCTYPE html>
<html>
<head>
    <title>Character Sheets</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="../static/bootstrap-flat.min.css" type="text/css"/>
    <link rel="stylesheet" href="../static/bootstrap-flat-extras.min.css" type="text/css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../static/app.js"></script>
</head>
<body>
    <div class="container">
      <div class="row">
      <div class="col-md-12">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="panel panel-info">
              <div class="panel-heading"></div>
              <div class="panel-body">
              {% for message in messages %}
              {{ message }}
              <br/>
              {% endfor %}
              </div>
          </div>
          {% endif %}
      {% endwith %}
      </div>
      </div>
    </div>
    {% block body %}
    <p>this is a test</p>
    {% endblock body %} 
</body>
</html>
