{% extends "base.html" %}

{% block body %}
<div class="container">
 
    {% if not session.username %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Welcome to Quadratic Games' Character Sheets App!</h2>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6">
            <h2><a href="/characters">Character Sheets</a></h2>
	    <hr>
	    <div class = "panel-group" id = "accordion">
	      <div class = "panel panel-default">
		<div class = "panel-heading">
		  <h4 class = "panel-title">
		    <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapse1">Character 1</a>
		  </h4>
		</div>
		<div id = "collapse1" class = "panel-collapse collapse">
		  <div class = "panel-body">Here are some stats</div>
		</div>
	      </div>
	      <div class = "panel panel-default">
		<div class = "panel-heading">
		  <h4 class = "panel-title">
		    <a data-toggle = "collapse" data-parent = "#accordion" href = "#collapse2">Character 2</a>
		  </h4>
		</div>
		<div id = "collapse2" class = "panel-collapse collapse">
		  <div class = "panel-body">Here are some more stats</div>
		</div>
	      </div>
	    </div>
        </div>
        <div class="col-md-6">
            <h2><a href="/campaigns">Campaigns</a></h2>
            <hr>
	    <button tabindex = "0" class = "btn btn-small btn-info" type = "button" data-toggle = "popover" data-trigger = "focus" title = "title" data-content = "description of campaign" data-placement = "left" style = "float: right;">Details</button> </p>
	    <p><button class = "btn btn-primary" type = "button" data-toggle = "collapse" data-target = "#mem">Members</button>
	    <div class = "collapse" id = "mem">
	      <div>
		info on members?
	      </div>
	    </div>
            <hr>
        </div>
    </div>
 
    <script>
      $(document).ready(function(){
      $('[data-toggle="popover"]').popover(); 
      });
    </script>
    {% endif %}
</div>
{% endblock body %}
