<html>
  <head>

    <script src="/static/lib/jquery.js"></script>
    <script src="/static/lib/lodash.js"></script>
    <script src="/static/lib/backbone.js"></script>
    <script src="/static/lib/backbone.marionette.js"></script>

    <script id="stat-template" type="text/template">
      <th align="left"><%= name %></th>
      <td align="right"><%= value %></td>
      <% if (mutable) { %> 
      <td><input id="value" type="text" size="1"></td>
      <td><button id="update">change!</button></td>
      <% } %>
    </script>
    
    <script id="character-template" type="text/template">
      <table border="1">
        <tbody id="stats">
        </tbody>
      </table>
    </script>
    
    <title>Character Sheet!</title>
    
  </head>
  <body>
    <h1>Character Sheet!</h1>
    <div id="character-region"> </div>
    <script src="/static/app.js"></script>
  </body>
</html>
