{% extends "base.html" %}

{% block body %}
<div class="container">
 
    {% if not session.username %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Welcome to Quadratic Games' Character Sheets App!</h2>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-6">
            <h2><a href="/charactersheets">Character Sheets</a></h2>
            <hr>
            <p>Some column</p>
            <hr>
            <p>Iterate through list of sheets here</p>
            <hr>
            <p>So characters show up</p>
            <hr>
            <p><b>Altha</b>, level 5 Sorcerer</p>
            <hr>
            <p>Etc</p>
        </div>
        <div class="col-md-6">
            <h2><a href="/campaigns">Campaigns</a></h2>
            <hr>
            <p>Some other column</p>
            <hr>
            <p>Iterate through list of campaigns here</p>
	    <a tabindex = "0" class = "btn btn-small btn-info" role = "button" data-toggle = "popover" data-trigger = "focus" title = "title" data-content = "info on campaign">Details</a>
            <hr>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}
